<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }
        li {
            clear: both;
        }
        li button {            
            appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right; 
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- Deleting a Todo Item -->
    <form id="form">
        <input type="text" id="description" name="description" placeholder="Enter Description">
        <input type="submit" value="Create">
    </form>
    <div id="error" class="hidden">Something went Wrong!</div>
    <ul id="todos">
        {% for d in data %}
        <li>            
            <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>{{ d.description }}
            <button class="delete-me" data-id="{{ d.id }}" type="submit">&cross;</button>
        </li>
        {% endfor %}
    </ul>

    <script>
        // Code to delete a todo item from the record
        const delete_todos = document.querySelectorAll('.delete-me');
        // console.log(delete_todos);
        for (let i = 0; i < delete_todos.length; i++) {
            const delete_todo = delete_todos[i];
            // console.log(delete_todo)
            delete_todo.onclick = function(e) {
                const todoId = e.target.dataset['id'];
                console.log(todoId)
                fetch('/todos/delete/' + todoId, {
                    method: 'DELETE'
                })
                // function to remove the todo record from the view without page refresh
                .then(function() {
                    // gets the delete button element by using the data-id attribute
                    const buttonHTML = document.querySelector('.delete-me[data-id="' + todoId + '"]');
                    // gets the parent li element of that button element and deletes it
                    // means that all the other elements inside are also removed! :)
                    buttonHTML.parentElement.remove();
                })
                .then(function() {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    console.log("Error: " + error);
                    document.getElementById('error').className = '';
                })
            }
        }

        // Code to add/remove checkbox to completed todo item and update the record
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e) {
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                console.log(todoId)
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type':'application/json'
                    }
                })
                .then(function() {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        }


        // code to create a todo item and add to the list
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();  //the default is whole page refresh
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                // console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);
                document.getElementById('description').value = '';  // blank form input field
                document.getElementById('error').className = 'hidden';  // no errors
                // ########## Code to add checkbox to the newly created todo without refresh ########## //
                // create an inout element
                const inputItem = document.createElement('input');
                // add a class name
                inputItem.className = "check-completed";
                // set the data-id attribute using the 'id' in jsonResponse (this was given back to us from the create route handler)
                inputItem.setAttribute('data-id', jsonResponse['id']);
                // define its type
                inputItem.type = "checkbox";
                // insert the checkbox as the first child item of liItem
                liItem.prepend(inputItem);
                const buttonItem = document.createElement('button');
                buttonItem.className = "delete-record";
                buttonItem.setAttribute('data-id', jsonResponse['id']);
                buttonItem.innerHTML = "&cross;";
                liItem.appendChild(buttonItem);
            })
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }

    </script>
    
</body>
</html>